openapi: 3.0.4
info:
  title: 🔮 Instill AI API
  description: Interact with Instill AI through its public API
  contact:
    name: Instill AI
    url: https://github.com/instill-ai
    email: hello@instill.tech
  license:
    name: Elastic License 2.0 (ELv2)
    url: https://github.com/instill-ai/protobufs/blob/main/LICENSE
  version: v0.50.6-beta
servers:
  - url: https://api.instill-ai.com
  - url: http://api.instill-ai.com
paths:
  '/v1alpha/namespaces/{namespaceId}/chats':
    get:
      tags:
        - 🍎 Agent
      summary: List chats
      description: Returns a list of chats.
      operationId: AgentPublicService_ListChats
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: page size
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: page token
          schema:
            type: string
        - name: ifAll
          in: query
          description: 'if true, all chats will be returned. This has higher priority over page_size and page_token.'
          schema:
            type: boolean
        - name: chatUid
          in: query
          description: "chat_uid this is optional, if provided, only the chat with the given chat_uid will be returned\nfirst check chat_uid then check if_all"
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChatsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    post:
      tags:
        - 🍎 Agent
      summary: Create a chat
      description: Creates a chat.
      operationId: AgentPublicService_CreateChat
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/chats/{chatUid}':
    get:
      tags:
        - 🍎 Agent
      summary: Get a chat
      description: Gets a chat.
      operationId: AgentPublicService_GetChat
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: chatUid
          in: path
          description: chat uid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChatResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    put:
      tags:
        - 🍎 Agent
      summary: Update a chat
      description: Updates a chat.
      operationId: AgentPublicService_UpdateChat
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: chatUid
          in: path
          description: chat uid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChatBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateChatResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    delete:
      tags:
        - 🍎 Agent
      summary: Delete a chat
      description: Deletes a chat.
      operationId: AgentPublicService_DeleteChat
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: chatUid
          in: path
          description: chat uid
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteChatResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/chats/{chatUid}/messages':
    get:
      tags:
        - 🍎 Agent
      summary: List messages
      description: Returns a paginated list of messages.
      operationId: AgentPublicService_ListMessages
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: chatUid
          in: path
          description: chat uid
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: page size
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: page token
          schema:
            type: string
        - name: ifAll
          in: query
          description: 'If true, all messages will be returned. This has higher priority over page_size and page_token.'
          schema:
            type: boolean
        - name: returnRawMessages
          in: query
          description: 'If true, the raw messages will be returned.'
          schema:
            type: boolean
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListMessagesResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/chats/{chatUid}/chat-with-agent':
    post:
      tags:
        - 🍎 Agent
      summary: Chat with agent
      description: Chat with the agent.
      operationId: AgentPublicService_ChatWithAgent
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: chatUid
          in: path
          description: chat uid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatWithAgentBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                title: Stream result of ChatWithAgentResponse
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/ChatWithAgentResponse'
                  error:
                    $ref: '#/components/schemas/rpc.Status'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/chats/{chatUid}/bind-table':
    post:
      tags:
        - Table
      summary: Bind table to chat
      description: Binds a table to a chat.
      operationId: AgentPublicService_BindChatTable
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: chatUid
          in: path
          description: The UID of the chat to bind the table to.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BindChatTableBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BindChatTableResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/chats/{chatUid}/unbind-table':
    post:
      tags:
        - Table
      summary: Unbind table from chat
      description: Unbinds a table from a chat.
      operationId: AgentPublicService_UnbindChatTable
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: chatUid
          in: path
          description: The UID of the chat to unbind the table from.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnbindChatTableBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnbindChatTableResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/chats/{chatUid}/tables':
    get:
      tags:
        - Table
      summary: List chat tables
      description: Returns a list of tables bound to a chat.
      operationId: AgentPublicService_ListChatTables
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: chatUid
          in: path
          description: The UID of the chat to list tables for.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChatTablesResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables':
    get:
      tags:
        - Table
      summary: List tables
      description: Returns a paginated list of tables.
      operationId: AgentPublicService_ListTables
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the tables.
          required: true
          schema:
            type: string
        - name: pageToken
          in: query
          description: The page token for pagination.
          schema:
            type: string
        - name: pageSize
          in: query
          description: The maximum number of tables to return.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTablesResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    post:
      tags:
        - Table
      summary: Create a table
      description: Creates a table.
      operationId: AgentPublicService_CreateTable
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace where the table will be created.
          required: true
          schema:
            type: string
      requestBody:
        description: The table resource to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Table'
        required: true
        x-bodyName: table
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTableResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/from-template':
    post:
      tags:
        - Table
      summary: Create a table from a table template
      description: Creates a table from a table template.
      operationId: AgentPublicService_CreateTableFromTemplate
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTableFromTemplateBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTableFromTemplateResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}':
    get:
      tags:
        - Table
      summary: Get table
      description: Gets a table.
      operationId: AgentPublicService_GetTable
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table to fetch.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTableResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    delete:
      tags:
        - Table
      summary: Delete table
      description: Deletes a table.
      operationId: AgentPublicService_DeleteTable
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table to delete.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteTableResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    patch:
      tags:
        - Table
      summary: Update table
      description: Updates a table.
      operationId: AgentPublicService_UpdateTable
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table to update.
          required: true
          schema:
            type: string
      requestBody:
        description: The table fields that will replace the existing ones.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Table'
        required: true
        x-bodyName: table
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateTableResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/builder/chat-with-agent':
    post:
      tags:
        - Table
      summary: Chat with table builder agent
      description: Chat with the table builder agent.
      operationId: AgentPublicService_ChatWithTableBuilderAgent
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table to send a message to.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatWithTableBuilderAgentBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                title: Stream result of ChatWithTableBuilderAgentResponse
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/ChatWithTableBuilderAgentResponse'
                  error:
                    $ref: '#/components/schemas/rpc.Status'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/builder/messages':
    get:
      tags:
        - Table
      summary: List table builder agent messages
      description: Lists the messages from the table builder agent.
      operationId: AgentPublicService_ListTableBuilderAgentMessages
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: table uid
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: page size
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: page token
          schema:
            type: string
        - name: ifAll
          in: query
          description: 'If true, all messages will be returned. This has higher priority over page_size and page_token.'
          schema:
            type: boolean
        - name: returnRawMessages
          in: query
          description: 'If true, the raw messages will be returned.'
          schema:
            type: boolean
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTableBuilderAgentMessagesResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/column-definitions':
    get:
      tags:
        - Table
      summary: Get column definitions
      description: Gets column definitions for a table.
      operationId: AgentPublicService_GetColumnDefinitions
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table whose columns to fetch.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetColumnDefinitionsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    put:
      tags:
        - Table
      summary: Update column definitions
      description: "Updates column definitions for a table. When updating the column\ndefinitions, if the column's agent instructions are updated, the existing\ncells in that column will be cleared and recomputed. This ensures that all\ndata reflects the latest instructions."
      operationId: AgentPublicService_UpdateColumnDefinitions
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table whose columns to update.
          required: true
          schema:
            type: string
      requestBody:
        description: Map of column UID to their new definitions.
        content:
          application/json:
            schema:
              type: object
              additionalProperties:
                $ref: '#/components/schemas/ColumnDefinition'
        required: true
        x-bodyName: columnDefinitions
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateColumnDefinitionsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/column-definitions/{columnUid}':
    get:
      tags:
        - Table
      summary: Get column definition
      description: Gets a column definition for a table.
      operationId: AgentPublicService_GetColumnDefinition
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table whose column definition to fetch.
          required: true
          schema:
            type: string
        - name: columnUid
          in: path
          description: The UID of the column whose definition to fetch.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetColumnDefinitionResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/column-definitions/{columnUid}/recompute':
    post:
      tags:
        - Table
      summary: Recompute column
      description: Recomputes all the cells in a column.
      operationId: AgentPublicService_RecomputeColumn
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table whose column to recompute.
          required: true
          schema:
            type: string
        - name: columnUid
          in: path
          description: The UID of the column to recompute.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecomputeColumnResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/rows':
    get:
      tags:
        - Table
      summary: List rows
      description: Returns list of rows.
      operationId: AgentPublicService_ListRows
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table whose rows to fetch.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: The maximum number of rows to return.
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: The page token for pagination.
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListRowsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    post:
      tags:
        - Table
      summary: Insert row
      description: Inserts a row into a table.
      operationId: AgentPublicService_InsertRow
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table to insert rows into.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InsertRowBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsertRowResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    delete:
      tags:
        - Table
      summary: Delete rows
      description: Deletes multiple rows from a table.
      operationId: AgentPublicService_DeleteRows
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table containing the rows.
          required: true
          schema:
            type: string
        - name: rowUids
          in: query
          description: The unique identifiers of the rows to delete.
          required: true
          style: form
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRowsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    patch:
      tags:
        - Table
      summary: Update rows
      description: Updates multiple rows in a table.
      operationId: AgentPublicService_UpdateRows
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table containing the rows.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRowsBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateRowsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/rows/{rowUid}':
    get:
      tags:
        - Table
      summary: Get row
      description: Gets a row from a table.
      operationId: AgentPublicService_GetRow
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table containing the row.
          required: true
          schema:
            type: string
        - name: rowUid
          in: path
          description: The unique identifier of the row to get.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRowResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    delete:
      tags:
        - Table
      summary: Delete row
      description: Deletes a row from a table.
      operationId: AgentPublicService_DeleteRow
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table containing the row.
          required: true
          schema:
            type: string
        - name: rowUid
          in: path
          description: The unique identifier of the row to delete.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteRowResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    patch:
      tags:
        - Table
      summary: Update row
      description: Updates a row in a table.
      operationId: AgentPublicService_UpdateRow
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table containing the row.
          required: true
          schema:
            type: string
        - name: rowUid
          in: path
          description: The unique identifier of the row to update.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRowBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateRowResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/move-rows':
    post:
      tags:
        - Table
      summary: Move row
      description: Moves a row to a new position in a table.
      operationId: AgentPublicService_MoveRows
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table containing the row.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveRowsBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveRowsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/rows/{rowUid}/cells/{cellUid}':
    get:
      tags:
        - Table
      summary: Get cell
      description: Gets a cell from a table.
      operationId: AgentPublicService_GetCell
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table containing the row.
          required: true
          schema:
            type: string
        - name: rowUid
          in: path
          description: The unique identifier of the row containing the cell.
          required: true
          schema:
            type: string
        - name: cellUid
          in: path
          description: The unique identifier of the cell to get.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCellResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    patch:
      tags:
        - Table
      summary: Update cell
      description: Updates a cell in a table.
      operationId: AgentPublicService_UpdateCell
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table containing the row.
          required: true
          schema:
            type: string
        - name: rowUid
          in: path
          description: The unique identifier of the row containing the cell.
          required: true
          schema:
            type: string
        - name: cellUid
          in: path
          description: The unique identifier of the cell to update.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCellBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCellResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/rows/{rowUid}/cells/{cellUid}/reset':
    post:
      tags:
        - Table
      summary: Reset cell
      description: "Resets a cell in a table. Resetting a cell clears its user input and\nreverts to using the computed value if available. This operation only\naffects cells that have a user input set."
      operationId: AgentPublicService_ResetCell
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table containing the cell.
          required: true
          schema:
            type: string
        - name: rowUid
          in: path
          description: The unique identifier of the row containing the cell.
          required: true
          schema:
            type: string
        - name: cellUid
          in: path
          description: The unique identifier of the cell to reset.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetCellBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResetCellResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/rows/{rowUid}/cells/{cellUid}/recompute':
    post:
      tags:
        - Table
      summary: Recompute cell
      description: Recomputes a cell in a table.
      operationId: AgentPublicService_RecomputeCell
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table containing the cell.
          required: true
          schema:
            type: string
        - name: rowUid
          in: path
          description: The unique identifier of the row containing the cell.
          required: true
          schema:
            type: string
        - name: cellUid
          in: path
          description: The unique identifier of the cell to recompute.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecomputeCellBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecomputeCellResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/rows/{rowUid}/cells/{cellUid}/autofill-agent/messages':
    get:
      tags:
        - Table
      summary: List cell messages
      description: Lists the internal LLM messages that used to generate the cell value.
      operationId: AgentPublicService_ListCellAutofillAgentMessages
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table containing the cell.
          required: true
          schema:
            type: string
        - name: rowUid
          in: path
          description: The unique identifier of the row containing the cell.
          required: true
          schema:
            type: string
        - name: cellUid
          in: path
          description: The unique identifier of the cell to reset.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: page size
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: page token
          schema:
            type: string
        - name: ifAll
          in: query
          description: 'If true, all messages will be returned. This has higher priority over page_size and page_token.'
          schema:
            type: boolean
        - name: returnRawMessages
          in: query
          description: 'If true, the raw messages will be returned.'
          schema:
            type: boolean
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCellAutofillAgentMessagesResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/rows/{rowUid}/cells/{cellUid}/lock':
    post:
      tags:
        - Table
      summary: Lock cell
      description: Locks a cell in a table.
      operationId: AgentPublicService_LockCell
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table containing the cell.
          required: true
          schema:
            type: string
        - name: rowUid
          in: path
          description: The unique identifier of the row containing the cell.
          required: true
          schema:
            type: string
        - name: cellUid
          in: path
          description: The unique identifier of the cell to lock.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LockCellBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LockCellResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/rows/{rowUid}/cells/{cellUid}/unlock':
    post:
      tags:
        - Table
      summary: Unlock cell
      description: Unlocks a cell in a table.
      operationId: AgentPublicService_UnlockCell
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table containing the cell.
          required: true
          schema:
            type: string
        - name: rowUid
          in: path
          description: The unique identifier of the row containing the cell.
          required: true
          schema:
            type: string
        - name: cellUid
          in: path
          description: The unique identifier of the cell to unlock.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UnlockCellBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UnlockCellResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/events':
    get:
      tags:
        - Table
      summary: Get table events
      description: Returns a list of events for a table.
      operationId: AgentPublicService_GetTableEvents
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table to fetch events for.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.(streaming responses)
          content:
            application/json:
              schema:
                title: Stream result of GetTableEventsResponse
                type: object
                properties:
                  result:
                    $ref: '#/components/schemas/GetTableEventsResponse'
                  error:
                    $ref: '#/components/schemas/rpc.Status'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/tables/{tableUid}/export':
    post:
      tags:
        - Table
      summary: Export table
      description: Exports table data.
      operationId: AgentPublicService_ExportTable
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the table.
          required: true
          schema:
            type: string
        - name: tableUid
          in: path
          description: The UID of the table to export.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportTableBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExportTableResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/folders':
    get:
      tags:
        - Folder
      summary: List folders
      description: Returns a list of folders.
      operationId: AgentPublicService_ListFolders
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the folders.
          required: true
          schema:
            type: string
        - name: pageToken
          in: query
          description: The page token for pagination.
          schema:
            type: string
        - name: pageSize
          in: query
          description: The maximum number of folders to return.
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFoldersResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    post:
      tags:
        - Folder
      summary: Create folder
      description: Creates a folder.
      operationId: AgentPublicService_CreateFolder
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace where the folder will be created.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFolderBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFolderResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/folders/{folderUid}':
    get:
      tags:
        - Folder
      summary: Get folder
      description: Gets a folder.
      operationId: AgentPublicService_GetFolder
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the folder.
          required: true
          schema:
            type: string
        - name: folderUid
          in: path
          description: The UID of the folder to fetch.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFolderResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    delete:
      tags:
        - Folder
      summary: Delete folder
      description: Deletes a folder.
      operationId: AgentPublicService_DeleteFolder
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the folder.
          required: true
          schema:
            type: string
        - name: folderUid
          in: path
          description: The UID of the folder to delete.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFolderResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    patch:
      tags:
        - Folder
      summary: Update folder
      description: Updates a folder.
      operationId: AgentPublicService_UpdateFolder
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the namespace that owns the folder.
          required: true
          schema:
            type: string
        - name: folderUid
          in: path
          description: The UID of the folder to update.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateFolderBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFolderResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/catalogs':
    get:
      tags:
        - 💾 Artifact
      summary: Get all catalogs info
      description: Returns a paginated list of catalogs.
      operationId: ListCatalogs
      parameters:
        - name: namespaceId
          in: path
          description: User ID for which to list the catalogs
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCatalogsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    post:
      tags:
        - 💾 Artifact
      summary: Create a catalog
      description: Creates a catalog.
      operationId: CreateCatalog
      parameters:
        - name: namespaceId
          in: path
          description: The catalog's owner(namespaces).
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCatalogBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateCatalogResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}':
    get:
      tags:
        - 💾 Artifact
      summary: Get file catalog
      description: Get the catalog file.
      operationId: GetFileCatalog
      parameters:
        - name: namespaceId
          in: path
          description: id of the namespace
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: id of the catalog
          required: true
          schema:
            type: string
        - name: fileId
          in: query
          description: id of the file(i.e. file name)
          schema:
            type: string
        - name: fileUid
          in: query
          description: Uid of the file
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFileCatalogResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    put:
      tags:
        - 💾 Artifact
      summary: Update a catalog info
      description: Updates the information of a catalog.
      operationId: UpdateCatalog
      parameters:
        - name: namespaceId
          in: path
          description: The catalog owner(namespace).
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: The catalog id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCatalogBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateCatalogResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    delete:
      tags:
        - 💾 Artifact
      summary: Delete a catalog
      description: Deletes a catalog.
      operationId: DeleteCatalog
      parameters:
        - name: namespaceId
          in: path
          description: The owner's id. i.e. namespace.
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: The catalog id.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCatalogResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/files':
    get:
      tags:
        - 💾 Artifact
      summary: List catalog files
      description: Returns a paginated list of catalog files.
      operationId: ListCatalogFiles
      parameters:
        - name: namespaceId
          in: path
          description: The owner/namespace uid id.
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: The catalog id.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: The page size (default:10; max 100).
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: The next page token(default from first file's token).
          schema:
            type: string
        - name: filter.fileUids
          in: query
          description: The file uids.
          style: form
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCatalogFilesResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    post:
      tags:
        - 💾 Artifact
      summary: Create a file
      description: Creates a file.
      operationId: UploadCatalogFile
      parameters:
        - name: namespaceId
          in: path
          description: owner/namespace uid
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: catalog id
          required: true
          schema:
            type: string
      requestBody:
        description: file
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/File'
        required: true
        x-bodyName: file
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadCatalogFileResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  /v1alpha/catalogs/files:
    delete:
      tags:
        - 💾 Artifact
      summary: Delete a file
      description: Deletes a file.
      operationId: DeleteCatalogFile
      parameters:
        - name: fileUid
          in: query
          description: The file uid.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteCatalogFileResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  /v1alpha/catalogs/files/processAsync:
    post:
      tags:
        - 💾 Artifact
      summary: Process catalog files
      description: Processes catalog files.
      operationId: ProcessCatalogFiles
      parameters:
        - name: Instill-Requester-Uid
          in: header
          description: 'Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProcessCatalogFilesRequest'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcessCatalogFilesResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/files/{fileUid}':
    get:
      tags:
        - 💾 Artifact
      summary: Get catalog file
      description: Gets the file of a catalog.
      operationId: GetCatalogFile
      parameters:
        - name: namespaceId
          in: path
          description: The namespace id.
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: The catalog id.
          required: true
          schema:
            type: string
        - name: fileUid
          in: path
          description: The file uid.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetCatalogFileResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/chunks':
    get:
      tags:
        - 💾 Artifact
      summary: List catalog chunks
      description: Returns a paginated list of catalog chunks.
      operationId: ListChunks
      parameters:
        - name: namespaceId
          in: path
          description: owner/namespace id (not uid)
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: catalog id (not uid)
          required: true
          schema:
            type: string
        - name: fileUid
          in: query
          description: unique identifier of the file
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChunksResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/chunks':
    get:
      tags:
        - 💾 Artifact
      summary: Search catalog chunks
      description: Returns a paginated list of catalog chunks based on search criteria.
      operationId: SearchChunks
      parameters:
        - name: namespaceId
          in: path
          description: owner/namespace id (not uid)
          required: true
          schema:
            type: string
        - name: chunkUids
          in: query
          description: chunk uids
          required: true
          style: form
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchChunksResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/files/{fileUid}/source':
    get:
      tags:
        - 💾 Artifact
      summary: Get catalog single-source-of-truth file
      description: Gets the single-source-of-truth file of a catalog.
      operationId: GetSourceFile
      parameters:
        - name: namespaceId
          in: path
          description: owner/namespace id
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: catalog id
          required: true
          schema:
            type: string
        - name: fileUid
          in: path
          description: unique identifier of the original uploaded file
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetSourceFileResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/files/{fileUid}/summary':
    get:
      tags:
        - 💾 Artifact
      summary: Get summary from a catalog file
      description: Gets summary from a catalog file
      operationId: GetFileSummary
      parameters:
        - name: namespaceId
          in: path
          description: owner/namespace id
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: catalog id
          required: true
          schema:
            type: string
        - name: fileUid
          in: path
          description: unique identifier of the original uploaded file
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFileSummaryResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/source-files':
    get:
      tags:
        - 💾 Artifact
      summary: Search single-source-of-truth files
      description: Searches the single-source-of-truth files of a catalog.
      operationId: SearchSourceFiles
      parameters:
        - name: namespaceId
          in: path
          description: owner/namespace id
          required: true
          schema:
            type: string
        - name: fileUids
          in: query
          description: search file uid
          required: true
          style: form
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchSourceFilesResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  '/v1alpha/chunks/{chunkUid}':
    post:
      tags:
        - 💾 Artifact
      summary: Update catalog chunk
      description: Updates a catalog chunk.
      operationId: UpdateChunk
      parameters:
        - name: chunkUid
          in: path
          description: chunk uid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChunkBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateChunkResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/chunks/retrieve':
    post:
      tags:
        - 💾 Artifact
      summary: Retrieve similar chunks
      description: Returns the similar chunks.
      operationId: SimilarityChunksSearch
      parameters:
        - name: namespaceId
          in: path
          description: owner/namespace id
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: catalog id
          required: true
          schema:
            type: string
        - name: Instill-Requester-Uid
          in: header
          description: 'Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SimilarityChunksSearchBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimilarityChunksSearchResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/ask':
    post:
      tags:
        - 💾 Artifact
      summary: Ask a question
      description: Asks a question.
      operationId: QuestionAnswering
      parameters:
        - name: namespaceId
          in: path
          description: id of the namespace
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: id of the catalog
          required: true
          schema:
            type: string
        - name: Instill-Requester-Uid
          in: header
          description: 'Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuestionAnsweringBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionAnsweringResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/runs':
    get:
      tags:
        - 💾 Artifact
      summary: List Catalog Runs
      description: Returns a paginated list of catalog runs.
      operationId: ListCatalogRuns
      parameters:
        - name: namespaceId
          in: path
          description: The ID of the owner of the catalog.
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: The ID of the catalog for which the runs will be listed.
          required: true
          schema:
            type: string
        - name: page
          in: query
          description: The page number to retrieve.
          schema:
            type: integer
            format: int32
        - name: pageSize
          in: query
          description: "The maximum number of items per page to return. The default and cap values\nare 10 and 100, respectively."
          schema:
            type: integer
            format: int32
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression.\n- Example: `create_time>timestamp(\"2000-06-19T23:31:08.657Z\")`."
          schema:
            type: string
        - name: orderBy
          in: query
          description: "Order by field, with options for ordering by `id`, `create_time` or `update_time`.\nFormat: `order_by=id` or `order_by=create_time desc`, default is `asc`."
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListCatalogRunsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/object-upload-url':
    get:
      tags:
        - 💾 Artifact
      summary: Get Object Upload URL
      description: Returns the upload URL of an object.
      operationId: GetObjectUploadURL
      parameters:
        - name: namespaceId
          in: path
          description: id of the namespace
          required: true
          schema:
            type: string
        - name: objectName
          in: query
          description: "name of the object with length limit to 1024 characters.\nthis is the unique identifier of the object in the namespace"
          required: true
          schema:
            type: string
        - name: urlExpireDays
          in: query
          description: "expiration time in days for the URL.\nmaximum is 7 days. if set to 0, URL will not expire."
          schema:
            type: integer
            format: int32
        - name: lastModifiedTime
          in: query
          description: "last modified time this value is provided by the client when the object url is created\nit must be in RFC3339 formatted date-time string"
          schema:
            type: string
            format: date-time
        - name: objectExpireDays
          in: query
          description: "object live time in days\nminimum is 1 day. if set to 0, the object will not be deleted automatically"
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetObjectUploadURLResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/object-download-url':
    get:
      tags:
        - 💾 Artifact
      summary: Get Object Download URL
      description: Returns the download URL of an object.
      operationId: GetObjectDownloadURL
      parameters:
        - name: namespaceId
          in: path
          description: id of the namespace
          required: true
          schema:
            type: string
        - name: objectUid
          in: query
          description: uid of the object
          required: true
          schema:
            type: string
        - name: urlExpireDays
          in: query
          description: "expiration time in days for the URL.\nmaximum is 7 days. if set to 0, URL will not expire."
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetObjectDownloadURLResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/namespaces/{namespaceId}/catalogs/{catalogId}/files:move':
    post:
      tags:
        - 💾 Artifact
      summary: Move file to another catalog
      description: Moves a file to another catalog.
      operationId: MoveFileToCatalog
      parameters:
        - name: namespaceId
          in: path
          description: namespace id
          required: true
          schema:
            type: string
        - name: catalogId
          in: path
          description: catalog id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoveFileToCatalogBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoveFileToCatalogResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  /v1beta/user:
    get:
      tags:
        - 🪆 Namespace
      summary: Get the authenticated user
      description: Returns the details of the authenticated user.
      operationId: GetAuthenticatedUser
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAuthenticatedUserResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
    patch:
      tags:
        - 🪆 Namespace
      summary: Update the authenticated user
      description: "Updates the information of the authenticated user.\n\nIn REST requests, only the supplied user fields will be taken into account\nwhen updating the resource."
      operationId: PatchAuthenticatedUser
      requestBody:
        description: The user fields that will replace the existing ones.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatedUser'
        required: true
        x-bodyName: user
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAuthenticatedUserResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  /v1beta/users:
    get:
      tags:
        - 🪆 Namespace
      summary: List users
      description: Returns a paginated list of users.
      operationId: ListUsers
      parameters:
        - name: pageSize
          in: query
          description: "The maximum number of users to return. If this parameter is unspecified,\nat most 10 pipelines will be returned. The cap value for this parameter is\n100 (i.e. any value above that will be coerced to 100)."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token.
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired resource view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information.\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression.\n- Example: `create_time>timestamp(\"2000-06-19T23:31:08.657Z\")`."
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  '/v1beta/users/{userId}':
    get:
      tags:
        - 🪆 Namespace
      summary: Get a user
      description: Returns the details of a user by their ID.
      operationId: GetUser
      parameters:
        - name: userId
          in: path
          description: User ID
          required: true
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired resource view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information.\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  /v1beta/organizations:
    get:
      tags:
        - 🪆 Namespace
      summary: List organizations
      description: Returns a paginated list of organizations.
      operationId: ListOrganizations
      parameters:
        - name: pageSize
          in: query
[...]
