openapi: '3.2.0'
info:
  title: Instill Core API
  description: Interact with Instill Core through API
  contact:
    name: Instill AI
    url: https://github.com/instill-ai
    email: support@instill-ai.com
  license:
    name: MIT
    url: https://github.com/instill-ai/protobufs/blob/main/LICENSE
  version: v0.57.0
servers:
  - url: https://api.instill-ai.com
  - url: http://api.instill-ai.com
paths:
  '/v1alpha/{parent}/knowledge-bases':
    get:
      tags:
        - Artifact
      summary: Get all knowledge bases info
      description: Returns a paginated list of knowledge bases.
      operationId: ArtifactPublicService_ListKnowledgeBases
      parameters:
        - name: parent
          in: path
          description: "The parent resource name.\nFormat: `namespaces/{namespace}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+'
            type: string
        - name: pageSize
          in: query
          description: "The maximum number of knowledge bases to return. If this parameter is\nunspecified, at most 10 knowledge bases will be returned. The cap value for\nthis parameter is 100 (i.e. any value above that will be coerced to 100)."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token for pagination.
          schema:
            type: string
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression.\n- `id=\"<knowledge_base_id>\"` or `uid=\"<uuid>\"` - Filter by specific\nknowledge base ID/UID\n- `q=\"<text>\"` - Fuzzy search on knowledge base ID and description\n\n**Examples**:\n- Filter by ID: `id=\"my-knowledge-base\"`\n- Search knowledge bases: `q=\"my-knowledge-base\"`"
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListKnowledgeBasesResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    post:
      tags:
        - Artifact
      summary: Create a knowledge base
      description: Creates a knowledge base.
      operationId: ArtifactPublicService_CreateKnowledgeBase
      parameters:
        - name: parent
          in: path
          description: "The parent resource name.\nFormat: `namespaces/{namespace}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+'
            type: string
      requestBody:
        description: "The knowledge base resource to create.\nRequired fields: display_name\nOptional fields: id (auto-generated from display_name if not provided),\n                 description, tags, type, system_id"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KnowledgeBase'
        required: true
        x-bodyName: knowledgeBase
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateKnowledgeBaseResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{name}':
    get:
      tags:
        - Artifact
      summary: Get a knowledge base
      description: Returns the details of a knowledge base.
      operationId: ArtifactPublicService_GetKnowledgeBase
      parameters:
        - name: name
          in: path
          description: "The resource name of the knowledge base to retrieve.\nFormat: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/knowledge-bases/[^/]+'
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetKnowledgeBaseResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    delete:
      tags:
        - Artifact
      summary: Delete a knowledge base
      description: Deletes a knowledge base.
      operationId: ArtifactPublicService_DeleteKnowledgeBase
      parameters:
        - name: name
          in: path
          description: "The resource name of the knowledge base to delete.\nFormat: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/knowledge-bases/[^/]+'
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteKnowledgeBaseResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    patch:
      tags:
        - Artifact
      summary: Update a chunk
      description: Updates a chunk.
      operationId: ArtifactPublicService_UpdateChunk
      parameters:
        - name: name
          in: path
          description: "The resource name of the chunk to update.\nFormat:\n`namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}/chunks/{chunk}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/knowledge-bases/[^/]+/files/[^/]+/chunks/[^/]+'
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChunkBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateChunkResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{knowledgeBase.name}':
    patch:
      tags:
        - Artifact
      summary: Update a knowledge base info
      description: Updates the information of a knowledge base.
      operationId: ArtifactPublicService_UpdateKnowledgeBase
      parameters:
        - name: knowledgeBase.name
          in: path
          description: "Field 1: Canonical resource name.\nFormat: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`."
          required: true
          schema:
            pattern: 'namespaces/[^/]+/knowledge-bases/[^/]+'
            type: string
      requestBody:
        description: "The knowledge base resource to update. The knowledge base's `name` field\nidentifies the resource.\nFormat: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`"
        content:
          application/json:
            schema:
              title: "The knowledge base resource to update. The knowledge base's `name` field\nidentifies the resource.\nFormat: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`"
              required:
                - displayName
              type: object
              properties:
                id:
                  title: "Field 2: Immutable canonical resource ID (80-96 bits entropy, base62).\nExample: \"kb-8f3a2k9E7c1\""
                  type: string
                  readOnly: true
                displayName:
                  type: string
                  description: 'Field 3: Human-readable display name for UI.'
                slug:
                  title: "Field 4: URL-friendly slug (NO prefix).\nIf omitted, server generates from display_name.\nIf provided, server validates and persists it.\nSlug is NOT part of resource identity.\nExample: \"my-knowledge-base\""
                  type: string
                aliases:
                  type: array
                  items:
                    type: string
                  description: "Field 5: Previous slugs for backward compatibility.\nWhen display_name changes, a new slug is generated and old slugs are stored\nhere."
                  readOnly: true
                description:
                  type: string
                  description: 'Field 6: Optional description.'
                createTime:
                  type: string
                  description: 'Field 7: Creation time.'
                  format: date-time
                  readOnly: true
                updateTime:
                  type: string
                  description: 'Field 8: Last update time.'
                  format: date-time
                  readOnly: true
                tags:
                  type: array
                  items:
                    type: string
                  description: The knowledge base tags.
                type:
                  allOf:
                    - $ref: '#/components/schemas/KnowledgeBaseType'
                  description: "The knowledge base type (persistent or ephemeral).\nDefault is PERSISTENT if not specified during creation."
                system:
                  title: "System ID defines how the knowledge base will be created based on the\nsystem's RAG configurations including:\n- AI model family (e.g., \"openai\", \"gemini\")\n- Embedding vector dimensionality\n- Chunking method\n- Other RAG-related settings"
                  type: string
                  description: "The resource name of the system configuration.\nFormat: `systems/{system}`\nAvailable systems: \"systems/openai\", \"systems/gemini\", or custom systems.\nIf not specified, defaults to the default system."
                embeddingConfig:
                  allOf:
                    - $ref: '#/components/schemas/EmbeddingConfig'
                  description: The embedding configuration for the knowledge base.
                activeCollection:
                  type: string
                  description: "The resource name of the active Milvus collection for this knowledge base.\nFormat:\n`namespaces/{namespace}/knowledge-bases/{knowledge_base}/collections/{collection}`\nThis supports collection versioning for embedding dimension changes."
                  readOnly: true
                ownerName:
                  title: "Resource name of the owner namespace.\nExample: \"namespaces/usr-7k2m9p4w1n3\" or \"namespaces/org-3t8f5q2x6b1\""
                  type: string
                  readOnly: true
                owner:
                  allOf:
                    - $ref: '#/components/schemas/Owner'
                  description: Knowledge base owner (User or Organization).
                  readOnly: true
                creatorName:
                  type: string
                  description: "Full resource name of the user who created this knowledge base.\nFormat: `users/{user}`\nOptional for system-created knowledge bases (e.g., instill-agent)."
                  readOnly: true
                creator:
                  allOf:
                    - $ref: '#/components/schemas/v1beta.User'
                  description: "The user who created this knowledge base.\nPopulated when creator_name is present."
                  readOnly: true
                totalFiles:
                  type: integer
                  description: The total files in knowledge base.
                  format: int64
                  readOnly: true
                totalTokens:
                  type: integer
                  description: The total tokens in knowledge base.
                  format: int64
                  readOnly: true
                usedStorage:
                  type: string
                  description: The current used storage in knowledge base.
                  format: uint64
                  readOnly: true
                downstreamApps:
                  type: array
                  items:
                    type: string
                  description: The downstream apps.
                  readOnly: true
        required: true
        x-bodyName: knowledgeBase
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateKnowledgeBaseResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{parent}/files':
    get:
      tags:
        - Artifact
      summary: List files
      description: Returns a paginated list of files.
      operationId: ArtifactPublicService_ListFiles
      parameters:
        - name: parent
          in: path
          description: "The parent resource name (knowledge base).\nFormat: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/knowledge-bases/[^/]+'
            type: string
        - name: pageSize
          in: query
          description: The page size (default:10; max 100).
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: The next page token(default from first file's token).
          schema:
            type: string
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression.\n- `id=\"<uuid>\"` or `uid=\"<uuid>\"` - Filter by specific file ID/UID\n(supports multiple IDs separated by OR)\n- `process_status=\"FILE_PROCESS_STATUS_COMPLETED\"` - Filter by processing\nstatus\n\n**Examples**:\n- List specific files: `id=\"uuid1\" OR id=\"uuid2\"`\n- List completed files: `process_status=\"FILE_PROCESS_STATUS_COMPLETED\"`"
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFilesResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    post:
      tags:
        - Artifact
      summary: Create a file
      description: Uploads and converts a file.
      operationId: ArtifactPublicService_CreateFile
      parameters:
        - name: parent
          in: path
          description: "The parent resource name (knowledge base).\nFormat: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/knowledge-bases/[^/]+'
            type: string
      requestBody:
        description: The file to create.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/File'
        required: true
        x-bodyName: file
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateFileResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{name_1}':
    get:
      tags:
        - Artifact
      summary: Get a file
      description: Returns the details of a file.
      operationId: ArtifactPublicService_GetFile
      parameters:
        - name: name_1
          in: path
          description: "The resource name of the file to retrieve.\nFormat:\n`namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/knowledge-bases/[^/]+/files/[^/]+'
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired file view in the response.\n\n - VIEW_BASIC: Default view, only includes basic metadata.\n - VIEW_FULL: Full representation with all metadata.\n - VIEW_SUMMARY: Returns MinIO pre-signed URL to converted summary content.\n - VIEW_CONTENT: Returns MinIO pre-signed URL to converted markdown content.\n - VIEW_STANDARD_FILE_TYPE: Returns MinIO pre-signed URL to standardized file:\n- Documents → PDF\n- Images → PNG\n- Audio → OGG\n- Video → MP4\n - VIEW_ORIGINAL_FILE_TYPE: Returns MinIO pre-signed URL to the original uploaded file.\n - VIEW_CACHE: Returns Gemini cache resource name."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
              - VIEW_SUMMARY
              - VIEW_CONTENT
              - VIEW_STANDARD_FILE_TYPE
              - VIEW_ORIGINAL_FILE_TYPE
              - VIEW_CACHE
            type: string
        - name: storageProvider
          in: query
          description: "Storage provider specifies which storage backend to use for the file\nresource. This field is only applicable for views that return file content:\nVIEW_SUMMARY, VIEW_CONTENT, VIEW_STANDARD_FILE_TYPE,\nVIEW_ORIGINAL_FILE_TYPE.\n- STORAGE_PROVIDER_UNSPECIFIED or STORAGE_PROVIDER_MINIO: Returns MinIO\npre-signed URL (default)\n- STORAGE_PROVIDER_GCS: Uploads file to GCS if not present (with cache\ncheck), returns GCS signed URL GCS requires proper configuration in system\nsettings.\n\n - STORAGE_PROVIDER_MINIO: Use MinIO as the storage backend (default)\n - STORAGE_PROVIDER_GCS: Use Google Cloud Storage as the storage backend"
          schema:
            enum:
              - STORAGE_PROVIDER_MINIO
              - STORAGE_PROVIDER_GCS
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFileResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    delete:
      tags:
        - Artifact
      summary: Delete a file
      description: Deletes a file.
      operationId: ArtifactPublicService_DeleteFile
      parameters:
        - name: name_1
          in: path
          description: "The resource name of the file to delete.\nFormat:\n`namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/knowledge-bases/[^/]+/files/[^/]+'
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteFileResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{file.name}':
    patch:
      tags:
        - Artifact
      summary: Update a file
      description: Updates a file.
      operationId: ArtifactPublicService_UpdateFile
      parameters:
        - name: file.name
          in: path
          description: "Field 1: Canonical resource name.\nFormat:\n`namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}`."
          required: true
          schema:
            pattern: 'namespaces/[^/]+/knowledge-bases/[^/]+/files/[^/]+'
            type: string
      requestBody:
        description: "The file resource to update. The file's `name` field identifies the\nresource. Format:\n`namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}`"
        content:
          application/json:
            schema:
              title: "The file resource to update. The file's `name` field identifies the\nresource. Format:\n`namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}`"
              required:
                - displayName
              type: object
              properties:
                id:
                  title: "Field 2: Immutable canonical resource ID (80-96 bits entropy, base62).\nExample: \"file-8f3a2k9E7c1\""
                  type: string
                  readOnly: true
                displayName:
                  type: string
                  description: "Field 3: Human-readable display name (filename) for UI.\nThis is typically the original filename of the uploaded file."
                slug:
                  title: "Field 4: URL-friendly slug (NO prefix).\nIf omitted, server generates from display_name.\nIf provided, server validates and persists it.\nSlug is NOT part of resource identity.\nExample: \"my-research-file-pdf\""
                  type: string
                aliases:
                  type: array
                  items:
                    type: string
                  description: "Field 5: Previous slugs for backward compatibility.\nWhen display_name changes, a new slug is generated and old slugs are stored\nhere."
                  readOnly: true
                description:
                  type: string
                  description: 'Field 6: Optional description.'
                createTime:
                  type: string
                  description: 'Field 7: Creation time.'
                  format: date-time
                  readOnly: true
                updateTime:
                  type: string
                  description: 'Field 8: Last update time.'
                  format: date-time
                  readOnly: true
                type:
                  allOf:
                    - $ref: '#/components/schemas/File.Type'
                  description: File type.
                processStatus:
                  allOf:
                    - $ref: '#/components/schemas/FileProcessStatus'
                  description: File process status.
                  readOnly: true
                processOutcome:
                  type: string
                  description: File process outcome message.
                  readOnly: true
                size:
                  type: string
                  description: File size in bytes.
                  format: int64
                  readOnly: true
                totalChunks:
                  type: integer
                  description: Total number of chunks created from this file.
                  format: int32
                  readOnly: true
                totalTokens:
                  type: integer
                  description: Total number of tokens in this file.
                  format: int32
                  readOnly: true
                tags:
                  type: array
                  items:
                    type: string
                  description: Array of tags associated with the file.
                externalMetadata:
                  type: object
                  description: Custom metadata provided by the user during file upload.
                knowledgeBases:
                  type: array
                  items:
                    type: string
                  description: "Knowledge base resource names that this file is associated with.\nFormat: `namespaces/{namespace}/knowledge-bases/{knowledge_base}`\nA file can belong to multiple knowledge bases within the same namespace.\nThis field is populated from the file_knowledge_base junction table.\nFollows AIP-122 for resource name references."
                  readOnly: true
                ownerName:
                  title: "Resource name of the owner namespace.\nExample: \"namespaces/usr-7k2m9p4w1n3\" or \"namespaces/org-3t8f5q2x6b1\""
                  type: string
                  readOnly: true
                owner:
                  allOf:
                    - $ref: '#/components/schemas/Owner'
                  description: File owner (User or Organization).
                  readOnly: true
                creatorName:
                  title: "Full resource name of the user who created this file.\nFormat: `users/{user}`"
                  type: string
                  readOnly: true
                creator:
                  allOf:
                    - $ref: '#/components/schemas/v1beta.User'
                  description: "The user who created this file.\nPopulated when creator_name is present."
                  readOnly: true
                content:
                  type: string
                  description: "Base64-encoded file content for inline upload.\nAlternative to object field for smaller files."
                downloadUrl:
                  type: string
                  description: Pre-signed download URL for the file.
                  readOnly: true
                convertingPipeline:
                  type: string
                  description: "Pipeline used for converting the file to Markdown if the file is a\ndocument (i.e., a file with pdf, doc[x] or ppt[x] extension)."
                length:
                  allOf:
                    - $ref: '#/components/schemas/Position'
                  description: Length of the file in the specified unit type.
                  readOnly: true
                collections:
                  type: array
                  items:
                    type: string
                  description: "Collection resource names that this file belongs to.\nFormat: `namespaces/{namespace}/collections/{collection}`\nThis field is system-managed and populated from collection membership.\nFollows AIP-122 for resource name references."
                  readOnly: true
                deleteTime:
                  type: string
                  description: Soft delete timestamp.
                  format: date-time
                  readOnly: true
                object:
                  type: string
                  description: "Object resource name reference for blob storage upload.\nFormat: `namespaces/{namespace}/objects/{object}`\nTwo upload approaches are supported:\n1. Direct upload: Upload file directly to MinIO via GetObjectUploadURL,\n   then provide the object resource name here.\n   This avoids base64 encoding overhead and is preferred for large files.\n2. Inline content: Provide base64-encoded file content in the 'content'\n   field. When object is provided, the 'content' field is ignored.\nFollows AIP-122 for resource name references."
        required: true
        x-bodyName: file
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateFileResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{name}/reprocess':
    post:
      tags:
        - Artifact
      summary: Reprocess a file
      description: "Triggers reprocessing of a file with its current configuration.\nThis will regenerate embeddings, chunks, and summaries."
      operationId: ArtifactPublicService_ReprocessFile
      parameters:
        - name: name
          in: path
          description: "The resource name of the file to reprocess.\nFormat:\n`namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/knowledge-bases/[^/]+/files/[^/]+'
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReprocessFileBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReprocessFileResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{name_2}':
    get:
      tags:
        - Artifact
      summary: Get a chunk
      description: Returns the details of a chunk.
      operationId: ArtifactPublicService_GetChunk
      parameters:
        - name: name_2
          in: path
          description: "The resource name of the chunk to retrieve.\nFormat:\n`namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}/chunks/{chunk}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/knowledge-bases/[^/]+/files/[^/]+/chunks/[^/]+'
            type: string
        - name: chunkType
          in: query
          description: "Optional chunk type filter. If specified, returns a chunk of this type\nfrom the same file. If not specified, returns the chunk identified by name.\n\n - TYPE_CONTENT: Content.\n - TYPE_SUMMARY: Summary.\n - TYPE_AUGMENTED: Augmented."
          schema:
            enum:
              - TYPE_CONTENT
              - TYPE_SUMMARY
              - TYPE_AUGMENTED
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetChunkResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    delete:
      tags:
        - Artifact
      summary: Delete Object
      description: Deletes an object.
      operationId: ArtifactPublicService_DeleteObject
      parameters:
        - name: name_2
          in: path
          description: "The resource name of the object to delete.\nFormat: `namespaces/{namespace}/objects/{object}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/objects/[^/]+'
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteObjectResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{parent}/chunks':
    get:
      tags:
        - Artifact
      summary: List chunks
      description: Returns a paginated list of chunks.
      operationId: ArtifactPublicService_ListChunks
      parameters:
        - name: parent
          in: path
          description: "The parent resource name.\nFormat:\n`namespaces/{namespace}/knowledge-bases/{knowledge_base}/files/{file}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/knowledge-bases/[^/]+/files/[^/]+'
            type: string
        - name: pageSize
          in: query
          description: "The maximum number of chunks to return. If this parameter is unspecified,\nat most 100 chunks will be returned. The cap value for this parameter\nis 1000 (i.e. any value above that will be coerced to 1000)."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token.
          schema:
            type: string
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression.\n- `id=\"<uuid>\"` or `uid=\"<uuid>\"` - Filter by specific chunk ID/UID\n- `chunk_type=\"CHUNK_TYPE_TEXT\"` - Filter by chunk type\n- `retrievable=true` - Filter by retrievable status\n\n**Examples**:\n- List specific chunks: `id=\"uuid1\" OR id=\"uuid2\"`\n- List text chunks: `chunk_type=\"CHUNK_TYPE_TEXT\"`\n- List retrievable chunks: `retrievable=true`"
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChunksResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{parent}/search-chunks':
    post:
      tags:
        - Artifact
      summary: Search chunks
      description: Returns the top-K most similar chunks to a text prompt.
      operationId: ArtifactPublicService_SearchChunks
      parameters:
        - name: parent
          in: path
          description: "The parent resource name (namespace).\nFormat: `namespaces/{namespace}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+'
            type: string
        - name: Instill-Requester-Uid
          in: header
          description: 'Indicates the authenticated namespace is making the request on behalf of another entity, typically an organization they belong to'
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchChunksBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchChunksResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{parent}/object-upload-url':
    get:
      tags:
        - Artifact
      summary: Get Object Upload URL
      description: Returns the upload URL of an object.
      operationId: ArtifactPublicService_GetObjectUploadURL
      parameters:
        - name: parent
          in: path
          description: "The parent resource name.\nFormat: `namespaces/{namespace}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+'
            type: string
        - name: displayName
          in: query
          description: "Display name for the object (user-provided filename, max 1024 characters).\nThis will be stored as the object's display_name."
          required: true
          schema:
            type: string
        - name: urlExpireDays
          in: query
          description: "URL expiration time in days.\nMaximum is 7 days. If set to 0, URL will not expire."
          schema:
            type: integer
            format: int32
        - name: lastModifiedTime
          in: query
          description: "Last modified time (client-provided metadata).\nMust be in RFC3339 formatted date-time string."
          schema:
            type: string
            format: date-time
        - name: objectExpireDays
          in: query
          description: "Object expiration time in days.\nMinimum is 1 day. If set to 0, the object will not be deleted\nautomatically."
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetObjectUploadURLResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{name}/download-url':
    get:
      tags:
        - Artifact
      summary: Get Object Download URL
      description: Returns the download URL of an object.
      operationId: ArtifactPublicService_GetObjectDownloadURL
      parameters:
        - name: name
          in: path
          description: "The resource name of the object.\nFormat: `namespaces/{namespace}/objects/{object}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/objects/[^/]+'
            type: string
        - name: urlExpireDays
          in: query
          description: "URL expiration time in days.\nMaximum is 7 days. If set to 0, URL will not expire."
          schema:
            type: integer
            format: int32
        - name: downloadFilename
          in: query
          description: "Optional custom filename for the download.\nIf provided, this filename will be used in the Content-Disposition header."
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetObjectDownloadURLResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{name_3}':
    get:
      tags:
        - Artifact
      summary: Get Object
      description: Returns the details of an object.
      operationId: ArtifactPublicService_GetObject
      parameters:
        - name: name_3
          in: path
          description: "The resource name of the object to retrieve.\nFormat: `namespaces/{namespace}/objects/{object}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/objects/[^/]+'
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetObjectResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    delete:
      tags:
        - Model
      summary: Delete a model
      description: "Deletes a model, accesing it by its resource name, which is defined by the\nparent namespace and the ID of the model."
      operationId: ModelPublicService_DeleteModel
      parameters:
        - name: name_3
          in: path
          description: "The resource name of the model to delete.\nFormat: `namespaces/{namespace}/models/{model}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/models/[^/]+'
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteModelResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{object.name}':
    patch:
      tags:
        - Artifact
      summary: Update Object
      description: Updates an object.
      operationId: ArtifactPublicService_UpdateObject
      parameters:
        - name: object.name
          in: path
          description: "Canonical resource name.\nFormat: `namespaces/{namespace}/objects/{object}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/objects/[^/]+'
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateObjectBody'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateObjectResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  /v1beta/user:
    get:
      tags:
        - Namespace
      summary: Get the authenticated user
      description: Returns the details of the authenticated user.
      operationId: MgmtPublicService_GetAuthenticatedUser
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAuthenticatedUserResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
    patch:
      tags:
        - Namespace
      summary: Update the authenticated user
      description: "Updates the information of the authenticated user.\n\nIn REST requests, only the supplied user fields will be taken into account\nwhen updating the resource."
      operationId: MgmtPublicService_PatchAuthenticatedUser
      requestBody:
        description: The user fields that will replace the existing ones.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticatedUser'
        required: true
        x-bodyName: user
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAuthenticatedUserResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  /v1beta/users:
    get:
      tags:
        - Namespace
      summary: List users
      description: Returns a paginated list of users.
      operationId: MgmtPublicService_ListUsers
      parameters:
        - name: pageSize
          in: query
          description: "The maximum number of users to return. If this parameter is unspecified,\nat most 10 pipelines will be returned. The cap value for this parameter is\n100 (i.e. any value above that will be coerced to 100)."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token.
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired resource view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information.\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression.\n- Example: `create_time>timestamp(\"2000-06-19T23:31:08.657Z\")`."
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListUsersResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  '/v1beta/{name}':
    get:
      tags:
        - Namespace
      summary: Get a user
      description: Returns the details of a user by their ID.
      operationId: MgmtPublicService_GetUser
      parameters:
        - name: name
          in: path
          description: "The resource name of the user.\nFormat: `users/{user}`"
          required: true
          schema:
            pattern: 'users/[^/]+'
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired resource view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information.\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetUserResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
    delete:
      tags:
        - Namespace
      summary: Delete an API token
      description: Deletes an API token.
      operationId: MgmtPublicService_DeleteToken
      parameters:
        - name: name
          in: path
          description: "The resource name of the token to delete.\nFormat: `users/{user}/tokens/{token}`"
          required: true
          schema:
            pattern: 'tokens/[^/]+'
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteTokenResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  /v1beta/tokens:
    get:
      tags:
        - Namespace
      summary: List API tokens
      description: Returns a paginated list of the API tokens of the authenticated user.
      operationId: MgmtPublicService_ListTokens
      parameters:
        - name: parent
          in: query
          description: "The parent resource name.\nFormat: `users/{user}`\nIf not provided, defaults to the authenticated user."
          schema:
            type: string
        - name: pageSize
          in: query
          description: "The maximum number of tokens to return. If this parameter is unspecified,\nat most 10 tokens will be returned. The cap value for this parameter is\n100 (i.e. any value above that will be coerced to 100)."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token.
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTokensResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
    post:
      tags:
        - Namespace
      summary: Create an API token
      description: Creates an API token for the authenticated user.
      operationId: MgmtPublicService_CreateToken
      requestBody:
        description: The properties of the token to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiToken'
        required: true
        x-bodyName: token
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateTokenResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  '/v1beta/{name_1}':
    get:
      tags:
        - Namespace
      summary: Get an API token
      description: Returns the details of an API token.
      operationId: MgmtPublicService_GetToken
      parameters:
        - name: name_1
          in: path
          description: "The resource name of the token.\nFormat: `users/{user}/tokens/{token}`"
          required: true
          schema:
            pattern: 'tokens/[^/]+'
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetTokenResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
    delete:
      tags:
        - Connection
      summary: Delete a connection
      description: Deletes a connection.
      operationId: MgmtPublicService_DeleteNamespaceConnection
      parameters:
        - name: name_1
          in: path
          description: "The resource name of the connection to delete.\nFormat: `namespaces/{namespace}/connections/{connection}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/connections/[^/]+'
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteNamespaceConnectionResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  /v1beta/validate-token:
    post:
      tags:
        - Namespace
      summary: Validate an API token
      description: Validates an API token.
      operationId: MgmtPublicService_ValidateToken
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidateTokenResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  /v1beta/check-namespace:
    post:
      tags:
        - Namespace
      summary: Check if a namespace is in use
      description: "Returns the availability of a namespace or, alternatively, the type of\nresource that is using it."
      operationId: MgmtPublicService_CheckNamespace
      requestBody:
        description: "CheckNamespaceRequest represents a request to verify if a namespace is\navailable."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckNamespaceRequest'
        required: true
        x-bodyName: body
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckNamespaceResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  /v1beta/pipeline-runs/query-charts:
    get:
      tags:
        - Metrics
      summary: List pipeline trigger time charts
      description: "Returns a timeline of pipeline trigger counts for a given requester. The\nresponse will contain one set of records (datapoints), representing the\namount of triggers in a time bucket."
      operationId: MgmtPublicService_ListPipelineTriggerChartRecords
      parameters:
        - name: requesterId
          in: query
          description: The ID of the namespace that requested the pipeline triggers.
          required: true
          schema:
            type: string
        - name: aggregationWindow
          in: query
          description: "Aggregation window. The value is a positive duration string, i.e. a\nsequence of decimal numbers, each with optional fraction and a unit\nsuffix, such as \"300ms\", \"1.5h\" or \"2h45m\".\nThe minimum (and default) window is 1h."
          schema:
            type: string
        - name: start
          in: query
          description: "Beginning of the time range from which the records will be fetched.\nThe default value is the beginning of the current day, in UTC."
          schema:
            type: string
            format: date-time
        - name: stop
          in: query
          description: "End of the time range from which the records will be fetched.\nThe default value is the current timestamp."
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPipelineTriggerChartRecordsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  /v1beta/model-runs/query-charts:
    get:
      tags:
        - Metrics
      summary: List model trigger time charts
      description: "Returns a timeline of model trigger counts for a given requester. The\nresponse will contain one set of records (datapoints), representing the\namount of triggers in a time bucket."
      operationId: MgmtPublicService_ListModelTriggerChartRecords
      parameters:
        - name: requesterId
          in: query
          description: The ID of the namespace that requested the model triggers.
          required: true
          schema:
            type: string
        - name: aggregationWindow
          in: query
          description: "Aggregation window. The value is a positive duration string, i.e. a\nsequence of decimal numbers, each with optional fraction and a unit\nsuffix, such as \"300ms\", \"1.5h\" or \"2h45m\".\nThe minimum (and default) window is 1h."
          schema:
            type: string
        - name: start
          in: query
          description: "Beginning of the time range from which the records will be fetched.\nThe default value is the beginning of the current day, in UTC."
          schema:
            type: string
            format: date-time
        - name: stop
          in: query
          description: "End of the time range from which the records will be fetched.\nThe default value is the current timestamp."
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelTriggerChartRecordsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  '/v1beta/{parent}/connections':
    get:
      tags:
        - Connection
      summary: List namespace connections
      description: Returns a paginated list of connections created by a namespace.
      operationId: MgmtPublicService_ListNamespaceConnections
      parameters:
        - name: parent
          in: path
          description: "The parent resource name.\nFormat: `namespaces/{namespace}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+'
            type: string
        - name: pageSize
          in: query
          description: "The maximum number of items to return. The default and cap values are 10\nand 100, respectively."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: 'Page token. By default, the first page will be returned.'
          schema:
            type: string
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression. The following filters are supported:\n- `integrationId`\n- `qConnection` (fuzzy search on connection ID, integration title or\nvendor)\n\n**Examples**:\n- List connections where app name, vendor or connection ID match `googl`:\n`q=\"googl\"`.\n- List connections where the component type is `openai` (e.g. to setup a\nconnector within a pipeline): `integrationId=\"openai\"`."
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListNamespaceConnectionsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
    post:
      tags:
        - Connection
      summary: Create a connection
      description: Creates a connection under the ownership of a namespace.
      operationId: MgmtPublicService_CreateNamespaceConnection
      parameters:
        - name: parent
          in: path
          description: "The parent resource name.\nFormat: `namespaces/{namespace}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+'
            type: string
      requestBody:
        description: Properties of the connection to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/mgmt.v1beta.Connection'
        required: true
        x-bodyName: connection
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateNamespaceConnectionResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  '/v1beta/{name_2}':
    get:
      tags:
        - Connection
      summary: Get a namespace connection
      description: Returns the details of a connection.
      operationId: MgmtPublicService_GetNamespaceConnection
      parameters:
        - name: name_2
          in: path
          description: "The resource name of the connection.\nFormat: `namespaces/{namespace}/connections/{connection}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/connections/[^/]+'
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information.\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetNamespaceConnectionResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
    delete:
      tags:
        - Pipeline
      summary: Delete a pipeline
      description: "Deletes a pipeline, accesing it by its resource name, which is defined by\nthe parent namespace and the ID of the pipeline. The authenticated\nnamespace must be the parent of the pipeline in order to delete it."
      operationId: PipelinePublicService_DeletePipeline
      parameters:
        - name: name_2
          in: path
          description: "The resource name of the pipeline to delete.\nFormat: `namespaces/{namespace}/pipelines/{pipeline}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/pipelines/[^/]+'
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletePipelineResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  '/v1beta/{connection.name}':
    patch:
      tags:
        - Connection
      summary: Update a connection
      description: Updates a connection with the supplied connection fields.
      operationId: MgmtPublicService_UpdateNamespaceConnection
      parameters:
        - name: connection.name
          in: path
          description: "Field 1: Canonical resource name.\nFormat: `namespaces/{namespace}/connections/{connection}`."
          required: true
          schema:
            pattern: 'namespaces/[^/]+/connections/[^/]+'
            type: string
      requestBody:
        description: "Connection object with the new properties to be updated. The connection's\n`name` field identifies the resource.\nFormat: `namespaces/{namespace}/connections/{connection}`\nImmutable and output-only fields will be ignored. The Setup property must\nbe updated in block (no partial update is supported)."
        content:
          application/json:
            schema:
              title: "Connection object with the new properties to be updated. The connection's\n`name` field identifies the resource.\nFormat: `namespaces/{namespace}/connections/{connection}`\nImmutable and output-only fields will be ignored. The Setup property must\nbe updated in block (no partial update is supported)."
              required:
                - displayName
                - integrationId
                - method
                - setup
              type: object
              properties:
                id:
                  title: "Field 2: Immutable canonical resource ID (80-96 bits entropy, base62).\nExample: \"con-8f3a2k9E7c1\""
                  type: string
                  readOnly: true
                displayName:
                  type: string
                  description: 'Field 3: Human-readable display name for UI.'
                slug:
                  title: "Field 4: URL-friendly slug (NO prefix).\nIf omitted, server generates from display_name.\nIf provided, server validates and persists it.\nSlug is NOT part of resource identity.\nExample: \"my-google-drive\""
                  type: string
                aliases:
                  type: array
                  items:
                    type: string
                  description: "Field 5: Previous slugs for backward compatibility.\nWhen display_name changes, a new slug is generated and old slugs are stored\nhere."
                  readOnly: true
                description:
                  type: string
                  description: 'Field 6: Optional description.'
                createTime:
                  type: string
                  description: 'Field 7: Creation time.'
                  format: date-time
                  readOnly: true
                updateTime:
                  type: string
                  description: 'Field 8: Last update time.'
                  format: date-time
                  readOnly: true
                namespaceId:
                  type: string
                  description: 'Field 9: ID of the namespace owning the connection.'
                  readOnly: true
                integrationId:
                  type: string
                  description: "Field 10: Integration ID. It determines for which type of components can\nreference this connection."
                integrationTitle:
                  type: string
                  description: "Field 11: Integration title. This helps the console display the results\ngrouped by integration ID without needing an extra call to fetch title by\nintegration ID."
                  readOnly: true
                method:
                  allOf:
                    - $ref: '#/components/schemas/mgmt.v1beta.Connection.Method'
                  description: "Field 12: Connection method. It references the setup schema provided by the\nintegration."
                setup:
                  type: object
                  description: "Field 13: Connection details. This field is required on creation, optional\non view. When viewing the connection details, the setup values will be\nredacted."
                view:
                  title: "Field 14: View defines how the connection is presented. The following\nfields are only shown in the FULL view:\n- setup\n- scopes\n- oAuthAccessDetails"
                  allOf:
                    - $ref: '#/components/schemas/mgmt.v1beta.View'
                  readOnly: true
                scopes:
                  type: array
                  items:
                    type: string
                  description: "Field 15: A list of scopes that identify the resources that the connection\nwill be able to access on the user's behalf. This is typically passed on\ncreation when the setup has been generated through an OAuth flow with a\nlimited set of scopes."
                oAuthAccessDetails:
                  type: object
                  description: "Field 16: When the connection method is METHOD_OAUTH, the access token\nmight come with some extra information that might vary across vendors. This\ninformation is passed as connection metadata."
                identity:
                  type: string
                  description: "Field 17: When the connection method is METHOD_OAUTH, this field will hold\nthe identity (e.g., email, username) with which the access token has been\ngenerated."
        required: true
        x-bodyName: connection
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpdateNamespaceConnectionResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  '/v1beta/{name}/test':
    post:
      tags:
        - Connection
      summary: Test a connection
      description: "Makes a request to the 3rd party app that the connection is configured to\ncommunicate with, and checks the result of the call. If the test fails,\nthe response status and error message will provide more information about\nthe failure.\n\nNote that this action might affect the quota or billing of the integrated\naccount in the 3rd party app."
      operationId: MgmtPublicService_TestNamespaceConnection
      parameters:
        - name: name
          in: path
          description: "The resource name of the connection to test.\nFormat: `namespaces/{namespace}/connections/{connection}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/connections/[^/]+'
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TestNamespaceConnectionResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  '/v1beta/namespaces/{namespaceId}/connections/{connectionId}/referenced-pipelines':
    get:
      tags:
        - Connection
      summary: List pipelines that reference a connection
      description: "Returns a paginated list with the IDs of the pipelines that reference a\ngiven connection. All the pipelines will belong to the same namespace as\nthe connection."
      operationId: MgmtPublicService_ListPipelineIDsByConnectionID
      parameters:
        - name: namespaceId
          in: path
          description: Namespace ID.
          required: true
          schema:
            type: string
        - name: connectionId
          in: path
          description: Connection ID.
          required: true
          schema:
            type: string
        - name: pageSize
          in: query
          description: "The maximum number of items to return. The default and cap values are 10\nand 100, respectively."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: 'Page token. By default, the first page will be returned.'
          schema:
            type: string
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression. The following filters are supported:\n- `q` (fuzzy search on pipeline ID)"
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1beta.ListPipelineIDsByConnectionIDResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  /v1beta/integrations:
    get:
      tags:
        - Integration
      summary: List integrations
      description: Returns a paginated list of available integrations.
      operationId: PipelinePublicService_ListIntegrations
      parameters:
        - name: pageSize
          in: query
          description: "The maximum number of items to return. The default and cap values are 10\nand 100, respectively."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: 'Page token. By default, the first page will be returned.'
          schema:
            type: string
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression. The following filters are supported:\n- `qIntegration` (fuzzy search on title or vendor)\n\n**Examples**:\n- List integrations where app name or vendor match `googl`: `q=\"googl\"`."
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pipeline.v1beta.ListIntegrationsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  '/v1beta/integrations/{integrationId}':
    get:
      tags:
        - Integration
      summary: Get an integration
      description: Returns the details of an integration.
      operationId: MgmtPublicService_GetIntegration
      parameters:
        - name: integrationId
          in: path
          description: Integration ID.
          required: true
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information.\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/mgmt.v1beta.GetIntegrationResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: beta
  /v1alpha/model-definitions:
    get:
      tags:
        - Model
      summary: List model definitions
      description: Returns a paginated list of model definitions.
      operationId: ModelPublicService_ListModelDefinitions
      parameters:
        - name: pageSize
          in: query
          description: "The maximum number of model definitions to return. If this parameter\nis unspecified, at most 10 definitions will be returned. The cap value for\nthis parameter is 100 (i.e. any value above that will be coerced to 100)."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token.
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired resource view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelDefinitionsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  /v1alpha/available-regions:
    get:
      tags:
        - Model
      summary: List available regions
      description: Returns a paginated list of available regions.
      operationId: ModelPublicService_ListAvailableRegions
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailableRegionsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/model-definitions/{modelDefinitionId}':
    get:
      tags:
        - Model
      summary: Get a model definition
      description: Returns the details of a model definition.
      operationId: ModelPublicService_GetModelDefinition
      parameters:
        - name: modelDefinitionId
          in: path
          description: "The resource name of the model definition, which allows its access by ID.\n- Format: `model-definitions/{id}`."
          required: true
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired resource view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetModelDefinitionResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  /v1alpha/models:
    get:
      tags:
        - Model
      summary: List public models
      description: Returns a paginated list of public models.
      operationId: ModelPublicService_ListPublicModels
      parameters:
        - name: pageSize
          in: query
          description: "The maximum number of models to return. If this parameter is unspecified,\nat most 10 models will be returned. The cap value for this parameter is\n100 (i.e. any value above that will be coerced to 100)."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token.
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired model view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
        - name: showDeleted
          in: query
          description: Include soft-deleted models in the result.
          schema:
            type: boolean
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression.\n- Example: `create_time>timestamp(\"2000-06-19T23:31:08.657Z\")`."
          schema:
            type: string
        - name: visibility
          in: query
          description: "Limit results to pipelines with the specified visibility.\n\n - VISIBILITY_PRIVATE: Only the owner can see the model.\n - VISIBILITY_PUBLIC: Other users can see the model."
          schema:
            enum:
              - VISIBILITY_PRIVATE
              - VISIBILITY_PUBLIC
            type: string
        - name: orderBy
          in: query
          description: "Order by field, with options for ordering by `id`, `create_time` or\n`update_time`. Format: `order_by=id` or `order_by=create_time desc`,\ndefault is `asc`."
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPublicModelsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{parent}/models':
    get:
      tags:
        - Model
      summary: List models
      description: Returns a paginated list of models.
      operationId: ModelPublicService_ListModels
      parameters:
        - name: parent
          in: path
          description: "The parent resource name.\nFormat: `namespaces/{namespace}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+'
            type: string
        - name: pageSize
          in: query
          description: "The maximum number of models to return. If this parameter is unspecified,\nat most 10 models will be returned. The cap value for this parameter is\n100 (i.e. any value above that will be coerced to 100)."
          schema:
            type: integer
            format: int32
        - name: pageToken
          in: query
          description: Page token.
          schema:
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired model view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
        - name: showDeleted
          in: query
          description: Include soft-deleted models in the result.
          schema:
            type: boolean
        - name: filter
          in: query
          description: "Filter can hold an [AIP-160](https://google.aip.dev/160)-compliant filter\nexpression.\n- Example: `create_time>timestamp(\"2000-06-19T23:31:08.657Z\")`."
          schema:
            type: string
        - name: visibility
          in: query
          description: "Limit results to pipelines with the specified visibility.\n\n - VISIBILITY_PRIVATE: Only the owner can see the model.\n - VISIBILITY_PUBLIC: Other users can see the model."
          schema:
            enum:
              - VISIBILITY_PRIVATE
              - VISIBILITY_PUBLIC
            type: string
        - name: orderBy
          in: query
          description: "Order by field, with options for ordering by `id`, `create_time` or\n`update_time`. Format: `order_by=id` or `order_by=create_time desc`,\ndefault is `asc`."
          schema:
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListModelsResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    post:
      tags:
        - Model
      summary: Create a new model
      description: "Creates a new model under the parenthood of a namespace. This is an\nasynchronous endpoint, i.e., the server will not wait for the model to be\ncreated in order to respond. Instead, it will return a response with the\nnecessary information to access the result and status of the creation\noperation."
      operationId: ModelPublicService_CreateModel
      parameters:
        - name: parent
          in: path
          description: "The parent resource name.\nFormat: `namespaces/{namespace}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+'
            type: string
      requestBody:
        description: The properties of the model to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Model'
        required: true
        x-bodyName: model
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateModelResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{name_4}':
    get:
      tags:
        - Model
      summary: Get a model
      description: "Returns the detail of a model, accessing it by the model ID and its parent\nnamespace."
      operationId: ModelPublicService_GetModel
      parameters:
        - name: name_4
          in: path
          description: "The resource name of the model.\nFormat: `namespaces/{namespace}/models/{model}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/models/[^/]+'
            type: string
        - name: view
          in: query
          description: "View allows clients to specify the desired model view in the response.\n\n - VIEW_BASIC: Default view, only includes basic information (omits `model_spec`).\n - VIEW_FULL: Full representation."
          schema:
            enum:
              - VIEW_BASIC
              - VIEW_FULL
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetModelResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
    delete:
      tags:
        - Model
      summary: Delete a model version
      description: "Deletes a model version, accesing it by its resource name, which is defined\nby the parent namespace and the ID of the model, and version."
      operationId: ModelPublicService_DeleteModelVersion
      parameters:
        - name: name_4
          in: path
          description: "The resource name of the model version to delete.\nFormat: `namespaces/{namespace}/models/{model}/versions/{version}`"
          required: true
          schema:
            pattern: 'namespaces/[^/]+/models/[^/]+/versions/[^/]+'
            type: string
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteModelVersionResponse'
        '401':
          description: Returned when the client credentials are not valid.
          content:
            application/json:
              schema: { }
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpc.Status'
      x-stage: alpha
  '/v1alpha/{model.name}':
    patch:
      tags:
        - Model
      summary: Update a model
      description: "Updates a model, accessing it by its resource name, which is defined by\nthe parent namespace and the ID of the model.\n\nIn REST requests, only the supplied model fields will be taken into\naccount when updating the resource."
      operationId: ModelPublicService_UpdateModel
      parameters:
        - name: model.name
          in: path
          description: "Field 1: Canonical resource name.\nFormat: `namespaces/{namespace}/models/{model}`."
          required: true
          schema:
            pattern: 'namespaces/[^/]+/models/[^/]+'
            type: string
      requestBody:
        description: "The model resource to update. The model's `name` field identifies\nthe resource. Format: `namespaces/{namespace}/models/{model}`"
        content:
          application/json:
            schema:
              title: "The model resource to update. The model's `name` field identifies\nthe resource. Format: `namespaces/{namespace}/models/{model}`"
              required:
                - displayName
                - modelDefinition
                - configuration
                - task
                - visibility
                - region
                - hardware
              type: object
              properties:
                id:
                  title: "Field 2: Immutable canonical resource ID (80-96 bits entropy, base62).\nExample: \"mod-8f3a2k9E7c1\""
                  type: string
                  readOnly: true
                displayName:
                  type: string
                  description: 'Field 3: Human-readable display name for UI.'
                slug:
                  type: string
                  description: "Field 4: URL-friendly slug (NO prefix).\nIf omitted, server generates from display_name.\nSlug is NOT part of resource identity."
                aliases:
                  type: array
                  items:
                    type: string
                  description: 'Field 5: Previous slugs for backward compatibility.'
                  readOnly: true
                description:
                  type: string
                  description: 'Field 6: Optional description.'
                createTime:
                  type: string
                  description: 'Field 7: Creation time.'
                  format: date-time
                  readOnly: true
                updateTime:
                  type: string
                  description: 'Field 8: Last update time.'
                  format: date-time
                  readOnly: true
                modelDefinition:
                  type: string
                  description: The model definition that has been used to import the model.
                configuration:
                  type: object
                  description: "Model configuration. This field is validated against the model\nspecification in the model definition."
                task:
                  allOf:
                    - $ref: '#/components/schemas/Task'
                  description: Model task.
                visibility:
                  allOf:
                    - $ref: '#/components/schemas/Model.Visibility'
                  description: Model visibility.
                permission:
                  allOf:
                    - $ref: '#/components/schemas/v1alpha.Permission'
                  description: Permission defines how the model can be used.
                  readOnly: true
                region:
                  type: string
                  description: Region of choice for the particular provider to host the model.
                hardware:
                  type: string
                  description: Hardware of choice to serve the model.
                inputSchema:
                  type: object
                  description: Input schema for the model.
                  readOnly: true
                outputSchema:
                  type: object
                  description: Output schema for the model.
                  readOnly: true
                tags:
                  type: array
                  items:
                    type: string
                  description: Tags.
                versions:
                  type: array
                  items:
                    type: string
                  description: Version names.
                  readOnly: true
                stats:
                  allOf:
                    - $ref: '#/components/schemas/Model.Stats'
                  description: Statistic data.
                  readOnly: true
                readme:
                  type: string
                  description: README holds the model documentation.
                sourceUrl:
                  type: string
                  description: A link to the source code of the model (e.g. to a GitHub repository).
                documentationUrl:
                  type: string
                  description: A link to any extra information.
                license:
                  type: string
                  description: License under which the model is distributed.
                profileImage:
                  type: string
                  description: Model profile image in base64 format.
[...]
